@import "components/_variables";

body {
  background: @primary-background;
  font-family: @body-copy;
  font-size: @base-font-size;
  line-height: @base-line-height;
  color: @primary-text; 
}

.header .container {
  background: @primary-background;
  padding-left: 0;
  padding-right: 0;
}

.header {
  padding: (@padding * 4) 0;
}

ul,
ol {
}

li {
}

a, a:link, a:visited {
}

a:hover {
}

p {
}

hr {
}