@import "components/_variables";
@import "components/_typography";

body {
  background: @primary-background;
  font-family: @body-copy;
  font-size: @base-font-size;
  line-height: @base-line-height;
  color: @primary-text; 
}

//Header 
.header .container {
  background: @primary-background;
  padding-left: 0;
  padding-right: 0;
}

.header {
  padding: (@padding * 4) 0;
}

//Navigation
.main-nav {
  line-height: 36px; // vertical center with logo
}

.main-nav ul {
  margin-bottom: 0;
}

.main-nav li.divider {
  color: @grey;
}

.main-nav a {
  text-decoration: none;
}

.main-nav a:hover {
  border-bottom: (@border-size * 5) @border-type @grey;
  transition: border-color 0.2s ease;
}

ul,
ol {
}

li {
}

a, a:link, a:visited {
}

a:hover {
}

p {
}

hr {
}