<!-- sandwich modal //-->
<div class="modal fade" id="sandwich-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Sandwiches</h4>
      </div>
      <div class="modal-body">
        <div class="text-center">
          <p><img src="img/sandwich.jpg" width="400" height="274" alt="Sandwich"></p>
          <h2>Veggie Sandwich</h2>
          <p>tomatoes, lettuce, cheese, salsa.</p>
          <p class="price">$12</p>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->